{{ define "header" }}
    {{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
    {{- $related_content := .RegularPages.Related . -}}
    {{- $needs_aside := or .Params.toc $related_content -}}

    {{- $dates := .Params.dates | default (slice) -}}
    {{- $image := .Params.logo | default .Params.poster | default "" -}}

    {{/* Calculate a unique class for this post */}}
    {{- $post_class := "" -}}
    {{- with .File -}}
        {{- $post_class = printf "concert-%s" .ContentBaseName -}}
    {{- end -}}

    <article class="pv4 {{ $post_class }} flex-l {{ if $needs_aside }}mw8{{ else }}mw7{{ end }} center ph3 flex-wrap justify-between">
        <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | compare.Default "serif"}} f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }} {{ compare.Conditional (compare.Eq $.Site.Language.Direction "rtl") "pl4-l" "pr4-l" }} {{ if $needs_aside }}w-two-thirds-l{{ else }}w-100-l{{ end }}">
            {{- $year := .Params.year | default 2026 -}}
            {{- $extra := .Params.extra -}}
            {{- if .Params.external -}}
                <p class="f3 center fw5 light-red">This piece has not been performed by Bells of the Rockies.<br />
                It was performed by another group at a joint concert, and is included for completeness.
                </p>

            {{- end -}}
            <h2 class="mv0 center" style="font-size: 2.5em">{{ .Title }}</h2>
            <p>{{ .Params.composer }}</p>
            <p>{{ .Params.arranger }}</p>
            <p>{{ .Params.adapted }}</p>
            <p>{{ .Params.transcriber }}</p>
            <hr />
            <p>TODO: Reverse link concerts. Include videos directly?</p>
            <hr />
            {{ .Content }}
        </div>
    </article>
{{ end }}
