<!--

Input: Date object for concert
{ date: YYYY-MM-DD, time: HH:mm, location: ref-location }
If no date, omit
Check location and time
- Have both -> Display full
- Only location -> Time TBA
- Only time -> Location TBA
- Neither -> Time and Location TBA

Also need to check - if date in the past, just omit rather than TBA

Shortened version

-->
{{ $date := .date | default "unknown" }}
{{ if eq $date "unknown" }}
    {{ return }}
{{ end }}

{{ $out := (slice) }}

{{ $datetime := fmt.Printf "%sT%s:00" $date (.time | default "00:00") }}
{{- $cutoff := time.Now.Add (time.Duration "hour" 24) -}}
{{ $past_concert := gt (time.AsTime $datetime) $cutoff }}
{{ $have_time := .time | default "unknown" | ne "unknown" }}

{{ $where := "" }}
{{ $all_locations := (site.GetPage "/locations/").Pages | default (slice) }}
{{ with .location }}
    {{ $loc_page := where $all_locations "Params.short" "eq" . }}
    {{ range $loc_page }}
    {{ $where = .Params }}
    {{ end }}
{{ end }}
{{ $loc := slice "Location TBD" }}
{{ with $where }}
    {{ $loc = slice " in " .city }}
{{ end }}
{{ $when := (slice) }}
{{ if $have_time }}
    {{- if ne (time.Format "04" $datetime) "00" -}}
        {{ $when = slice (time.Format "3:04pm" $datetime) }}
    {{- else -}}
        {{ $when = slice (time.Format "3pm" $datetime) }}
    {{- end -}}
{{- end -}}

{{ $out = append (slice (time.Format "Mon, Jan 2" $datetime) " ") $out }}
{{ $out = append $loc $out }}
{{ $out = append $when $out }}



{{ return (delimit $out " ") }}
