article {
    max-width: 1000px !important;
}

header.cover.bg-top {
    background-origin: padding-box;
    background-position: 50% 47.27%;
    background-size: cover;
}

h2.left, h3.left {
    width: 35%;
    display: block;
    float: left;
    margin: 15px;
    padding: 0;
    text-align: left;
}

h3.left + p {
    display: block;
    float: left;
    width: 60%;
    text-align: left;
    font-size: 0.9em;
}

.text-lg {
    font-size: 1.5em;
    margin-top: 3em;
}

.yt-half {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
}

.clear {
    clear: both;
}

p, div {
    text-align: left;
}

.center, div.center, p.center, div.tc, p.tc, .tc p, .tc div {
    text-align: center;
}

td, th {
    text-align: center;
}

.center-left, .center-right {
    display: block;
    width: 49%;
}

.center-left { float: left; }

.center-right { float: right; }

.qa strong {
    color: #5e2ca5;
}

.ringers-index a {
    text-decoration: none;
    color: #b5aaf6;
    font-weight: bolder;
}

/**
 *  YouTube inline icons (in link)
 */
p.video-links {
    clear: left;
    margin: 0;
}

p.video-links a {
    display: inline-block;
    margin: 0 1rem;
    vertical-align: bottom;
    color: #96ccff;
}

p.video-links a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.icon.yt svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #ff333399;
    fill: currentColor;
}

p.video-links a:hover svg {
    color: #ff0000;
}

/*
 *  Home Page
 */
@media screen and (min-width: 600px){
    article div.home-article :where(h2, h3, h4) {
        float: left;
        width: calc(100% / 3);
        text-align: left;
    }

    article div.home-article :where(h2, h3, h4) + p {
        float: right;
        width: calc(100% * 2 / 3);
        text-align: left;
    }

    article div.home-article :where(h2, h3, h4) + p + p {
        clear: both;
    }
}

/*
 *  Callout Widgets
 */
.full-ringers, .callout {
    display: inline-block;
    margin: 10px auto;
    padding: 0.4rem 2rem;
}

.full-ringers {
    display: block;
    color: #FFCCCC;
    text-align: center;
    font-weight: bold;
}

.callout {
    background-color: #777777;
    border: 1px #555 solid;
    border-radius: 9999px;
    color: rgba(232, 230, 227, 0.9);
}

/*
 *  Button Link
 */
a.button {
    font-weight: bold;
    font-family: helvetica neue,helvetica,sans-serif;
    display: inline-block;
    background-color: #262a2b;
    padding: 0.5rem 1rem;
    border: 1px #555 solid;
    border-radius: 9999px;
    text-decoration: none;
    color: rgba(232, 230, 227, 0.9);
}

a.button:hover {
    color: #ffffff;
    background-color: #090909;
}


/*
 *  Image Alignment
 */

/*Left Align Images*/
:is(.img-left1, .img-left2, .img-left3, .img-left4, .img-left5) {
    width: 50%;
    padding-right: 5px;
    float: left;
}

:is(.img-left1, .img-left2, .img-left3, .img-left4, .img-left5) img {
    width: 100%;
}

:is(.img-left1, .img-left2, .img-left3, .img-left4, .img-left5) + p,
:is(.img-left2, .img-left3, .img-left4, .img-left5) + p + p,
:is(.img-left3, .img-left4, .img-left5) + p + p + p,
:is(.img-left4, .img-left5) + p + p + p + p,
:is(.img-left5) + p + p + p + p + p {
    width: 50%;
    padding-left: 5px;
    float: right;
}

/* Right align images */
:is(.img-right1, .img-right2, .img-right3, .img-right4, .img-right5) {
    width: 50%;
    padding-left: 5px;
    float: right;
}

:is(.img-right1, .img-right2, .img-right3, .img-right4, .img-right5) img {
    width: 100%;
}

:is(.img-right1, .img-right2, .img-right3, .img-right4, .img-right5) + p,
:is(.img-right2, .img-right3, .img-right4, .img-right5) + p + p,
:is(.img-right3, .img-right4, .img-right5) + p + p + p,
:is(.img-right4, .img-right5) + p + p + p + p,
:is(.img-right5) + p + p + p + p + p {
    width: 50%;
    padding-right: 5px;
    float: left;
}

/* CLEAR after requisite number of paragraphs */
:is(.img-left1, .img-right1) + * + *,
:is(.img-left2, .img-right2) + * + * + *,
:is(.img-left3, .img-right3) + * + * + * + *,
:is(.img-left4, .img-right4) + * + * + * + * + *,
:is(.img-left5, .img-right5) + * + * + * + * + * + * {
    clear: both;
}
