article {
    max-width: 1000px !important;
}

header.cover.bg-top {
    background-origin: padding-box;
    background-position: 50% 47.27%;
    background-size: cover;
}

h2.left, h3.left {
    width: 35%;
    display: block;
    float: left;
    margin: 15px;
    padding: 0;
    text-align: left;
}

h3.left + p {
    display: block;
    float: left;
    width: 60%;
    text-align: left;
    font-size: 0.9em;
}

.text-lg {
    font-size: 1.5em;
    margin-top: 3em;
}

.youtube-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.youtube-grid div, .youtube-full {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.youtube-grid div iframe, .youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.clear {
    clear: both;
}

.full-ringers {
    color: #FFCCCC;
    text-align: center;
    font-weight: bold;
}

.center {
    text-align: center;
}

.center-left, .center-right {
    display: block;
    width: 49%;
}

.center-left { float: left; }

.center-right { float: right; }

.qa strong {
    color: #5e2ca5;
}

.ringers-index a {
    text-decoration: none;
    color: #b5aaf6;
    font-weight: bolder;
}
